
body{
    width: 80%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
#header, #details, #contact, #footer{
background-color: rgb(206, 170, 240);
height: auto;
text-align: center;
border: 5px solid rgb(138, 235, 138);
margin: 30px;
}  

#image-div{
    height: auto;  
    display: inline;
  
}

#boshe{
    float: right;
    width: 50%;
    height: auto;
    overflow: hidden;
}

#details ul li{ 
    list-style-type: none;
}

img{  
   border-radius: 50%;
   border: 5px solid rgb(138, 235, 138);
}

a:link
{
    color: black;
}

